body{
  font-size: medium;
}
.container{
  width: 1024px;
  height: 70px;
  padding: 0;
}
.navbar{
  justify-content: end;
}
.btn-search{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background-color: #675BF1;
  color: #fff;
  border: 1px solid #fff;
  font-size: 24px;
  line-height: 28.13px;
  padding: 12px 9px 11px 9px;
  border-radius: 0 5px 5px 0;
  border: 2px solid #fff;
}
.form-control--elm{
  display: flex;
  align-items: center;
  width: 500px;
  height: 50px;
  padding: 12px 51px 11px 19px;
  margin-right: 13px;
  border-radius: 10px 0 0 10px ;
  background-color: #675BF1;
  color: #BBBBBB;
  border: 2px solid #fff;
  font-size: 24px;
  line-height: 28px;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #675BF1;
  width: 1024px;
  height: 70px;
}
.btn__search{
  box-sizing: border-box;
  cursor: pointer;
  margin: 8px 10px;
  border-radius: 0 10px 10px 0;
  padding: 12px 8.55px 11px 8.29px;
  background-color: #675BF1;
  color: white;
  border: 2px solid white;
  font-size: 24px;
  line-height: 28.13px;
  width: 201px;
  height: 50px;
  display: flex;
  align-items: center;
}
.btn-outline-success{
  color: white;
  border: 2px solid white;
}
.main{
  display: flex;
  width: 1024px;
}
.sidebar{
  flex-basis: 150px;
  background-color: #F88F14;
}
.form-control{
  width: 400px;
}
.todolist{
  box-sizing: border-box;
  border: 2px solid blue;
  padding: 9.74px 14.93px;
  border-radius: 10px;
  margin: 15px 0 0 15px;
  width: 198.58px;
  height: 190.93px;
  background-color: white;
}
.todo{
  box-sizing: border-box;
  display: flex;
  width: 874px;
  flex-wrap: wrap;
  background-color: #F5F5F5;
}
h6{
  font-weight: bold;
  font-size: 14px;
}
.title{
  border-bottom: 2px solid #675BF1;
  padding-bottom: 5px;
  height: 65.91px;
}
p{
  margin: 0;
}
.New, .Doing, .Done{
  font-weight: bold;
  font-size: 14px;
}
.New{
  color: #04BE00;
}
.Doing{
  color: #F88F14;
}
.Done{
  color: #675BF1;
}
.group-item{
  width: 150px;
  height: 40px;
  line-height: 28px;
  font-size: 24px;
  background-color: #F88F14;
  justify-content: center;
  color: white;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0;
}
.description--p{
  width: 169.15px;
  height: 44.83px;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1px;
}
.descript{
  height: 24.36px;
  margin: 5px 0 0;
  padding-top: 5px;
  font-weight: 700;
}
.select{
  padding: 1px 8px;
  border-radius: 10px;
  margin: 0 auto;
  border: 1px solid blue;
  width: 111.3px;
  height: 26.3px;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  align-items: center;
}
.status{
  text-align: center;
  align-self: center;
}
.fa-solid{
  color: #675BF1;
}
.author{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 5px;
}
.pagination{
  margin: 0 auto;
  padding: 5px 0;
}
.fa-sharp{
  font-size: 18px;
}
.link{
color: #675BF1;
}
.item, .prev, .next{
  border: 1px solid #675BF1;
  padding: 5px 10px;
  font-size: 18px;
  color: #675BF1;
  font-weight: bold;
  cursor: pointer;
}
.prev{
  border-radius: 10px 0 0 10px;
}
.next{
  border-radius: 0 10px 10px 0;
}
.title__task{
  padding-bottom: 5px;
  font-weight: 700;
}