.addTaskForm {
  width: 100%;
  padding: 25px;
}

.row-item {
  display: flex;
  margin-bottom: 10px;
}

.row-item label {
  width: 250px;
  font-weight: bold;
}

.row-item input {
  width: 400px;
}

.btn {
  text-align: center;
  margin-top: 10px;
}

.error {
  color: red;
}

.saveBtn {
  background-color: #675bf1;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}
